<div *ngIf="dialogDetail" class="col-lg-4 col-md-6 col-sm-12 col-xs-12 row dialog">
    <div class="row dialog-head">
        <span class="list-group-item-heading">{{dialogDetail.Name}}</span>
    </div>
    <div class="row dialog-content">
        <i title="Schedule" *ngIf="dialogDetail.Schedule" class="fa fa-clock-o fa-1x iconsStyle col-lg-2"></i>
        <i title="Marketing" *ngIf="dialogDetail.Marketing" class="fa fa-hand-paper-o fa-1x iconsStyle col-lg-2"></i>
        <i title="Event" *ngIf="dialogDetail.Event" class="fa fa-bolt fa-1x iconsStyle col-lg-2"></i>
        <i title="WaterFall" *ngIf="dialogDetail.WaterFall" class="fa fa-arrow-circle-down fa-1x iconsStyle col-lg-2"></i>
        <div class="dialog-description col-lg-12">{{dialogDetail.Description}}</div>
    </div>
    <div class="row dialogInfo">
        <div class="col-lg-10">
            <div class="dialog-date">{{dialogDetail.LastOperation | date:'medium'}} </div>
        </div>
        <div class="col-lg-2">
            <div class="badge">Id: {{dialogDetail.Id}}</div>
        </div>
    </div>
</div>