.dialog-head{
  background-color: #666BFF;
}
@keyframes new-item-animation {
    from {
        opacity: 0;
         transform: scale(0.8);
        /*transform: translateY(-40px);*/
}
    to {
        opacity: 1;
         transform: scale(1);
        /*transform : translateY(0);*/
    }
}

.dialogInfo{
    position: absolute;
    bottom: 0px;
}

.dialog{
  opacity: 0;
  animation: new-item-animation 0.8s linear forwards;
  /*background-color: azure;
  /*height: 100px;*/
  font-size: 30px;
  min-height: 250px;
  margin: 0px;
  padding: 2px;
  background-color: azure;
}

.dialog-date{
      font-size: 20px;
}

.dialog .dialog-content{
  margin-top: 10px;
}

.dialog .dialog-content .dialog-description{
    font-size: 15px;
    margin-top: 10px;
}

.iconsStyle{
    font-size: 30px;
    transition: all 5s;
    opacity: 0;
    animation: new-icon-animation .5s ease forwards;
}
@keyframes new-icon-animation {
    from {
        opacity: 0;
         transform: scale(0.1);
        /*transform: translateY(30px);*/
}
    to {
        opacity: 1;
         transform: scale(1);
        translate: (0,0);
        /*transform : translateY(0);*/
    }
}
