.row .dialog-date{
    font-size: 15px;
}
.selected{
    background-color: #666BFF;
}
.list-group-item :hover{
    cursor: pointer;
}
.row-details{
  margin: 0px 5%;
  margin-top: 40px;
  padding: 0px;
}

