<dialog-nav 
(onUpdate)="onUpdate($event)" 
(filterEvent)="filterDialogs($event)" 
(onTimeUpdate)="onTimeUpdate($event)"
[availableUpdates]="availableUpdates"
>
</dialog-nav>
<div class="row row-details">
  <div *ngFor="let dialog of (dialogs | dialogPipe:toFilter)">
    <dialog-detail [dialogDetail]="dialog"></dialog-detail>
  </div>
</div>