.state{
  margin: 0px;  
  text-align: center;
  border-radius: 25px;
  font-size: 23px;
  transition: background-color 1s;
}

.state-update :hover{
  cursor: pointer;
}

.btn-danger{
  opacity: 0;
  margin-top: 20px;
  animation: animation .2s linear forwards;
}

input{
  margin-top: 10px;
  animation: animation .2s linear forwards;
}


.navbar{
  height: 75px;
  background-color: rgba(255,255,255,0.95);
}

@keyframes animation {
    from {
        opacity: 0;
}
    to {
        opacity: 1;
    }
}
