<nav class="navbar navbar-fixed-top navbar-default">
    <div class="row">
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
            <!--<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="state">
                    <!--<div *ngIf="!availableUpdates" >OK</div>
                    <div class="state-update">
                        <button class="btn btn-danger" *ngIf="availableUpdates" (click)="update()">Update data</button>
                    </div>
                </div>
            </div>-->
            <input placeholder="Dialog title" [(ngModel)]="toSearch" (keyup)="find()">
        </div>
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
                <input type="range" min="{{minValue}}" max="{{maxValue}}" (change)="refreshTimeUpdate()" step="60" [(ngModel)]="currentValue" />
            </div>
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
                <input type="number" min="{{minValue}}" max="{{maxValue}}" (change)="refreshTimeUpdate()" [(ngModel)]="currentValue" step="1" />
            </div>
        </div>
    </div>
</nav>